<template>
  <footer>
    <hr/>

    <p>Voter.cash is a blockchain based voting system <a href='https://bitco.in/forum/threads/buip129-passed-finish-and-productize-the-bu-voting-system.24367'>created as a result of BUIP129</a>.
    </p>
    <a href='https://bitcoinunlimited.info'>
      <img style="max-width: 200px;"
        src='../assets/bu-logo-smaller-2.png' alt='Bitcoin Unlimited Logo'/>
    </a>
  </footer>
</template>
