<template>
  <div class="new-election" style="max-width: 40em;">
  <div v-if="!loadElectionError && !election.description">Loading election details...
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <div v-if="election.description">
    <h3>{{ election.description | makeTitleNoTruncate }}</h3>
    <p>Created by <span v-html="ppAddress(election.adminAddress)"></span>.
    Election is using contract <em>{{ election.contractType }}</em>.
    <span v-if="currentHeight != -1">This election concludes at block height
    {{ election.endHeight }}
    ({{ election.endHeight | estimateTime(currentHeight) }})
    </span>
    </p>
    <div style="margin-bottom: 1em;"
        v-if="election.tags !== undefined && election.tags.length !== 0">
            <b-button
                variant="outline-secondary"
                style="margin-right: 0.5em;"
                 v-for="tag in election.tags"
                :key="tag">#{{ tag }}</b-button>
    </div>
    <h4>Description</h4>
    <div style="padding: 1em; border: 1px solid #efefef; border-radius: 5px;">
    <span style="
        word-wrap: break-word;
        white-space: pre-wrap;"
    >{{election.description}}</span>
    </div>

    <h4>Participants</h4>
    <b-list-group>
    <b-list-group-item
        v-for="p in election.participantAddresses" :key="p"
        v-html="ppAddress(p)">
    </b-list-group-item>
    </b-list-group>
  </div>

  <div v-if="!loadTallyError && ballots === null">Loading tally...
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div v-if="ballots !== null">
    <h3 style="margin-top: 1em">The results - Summary</h3>
    <b-table striped hover :items="tallyTable"></b-table>
    <h4>Individual votes</h4>
    <p v-if="ballots.length === 0">
        No one has voted yet.
    </p>
    <div v-else>
        <b-list-group>
            <b-list-group-item
                v-bind:key="b.txid"
                v-for="b in ballots">
            <span style="font-weight: bold">{{ b.vote_option }}</span>
            cast
            <span v-if="b.participant === null"> anonymously </span>
            <span v-else> by <span v-html="ppAddress(b.participant)"> </span></span>
            in transaction
            <span class="text-monospace" style="font-size: 80%">
            <a :href="'https://explorer.bitcoinunlimited.info/tx/'
            + b.txid">{{ b.txid }}</a></span>
            </b-list-group-item>
        </b-list-group>
    </div>
  </div>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import authService from '../services/auth';
import electionService from '../services/election';
import blockchain from '../services/blockchain';

const alertStore = namespace('Alert');

@Component
export default class Election extends Vue {
  private election: any = { };

  private ballots: any = null;

  private loadComplete: boolean[] = [false, false];

  private loadElectionError: boolean = false

  private loadTallyError: boolean = false

  private authObserver: any = null

  private tallyTable: any = []

  private allVotes: any = [];

  /**
   * Height of the Bitcoin Cash block chain
   */
  private currentHeight: number = -1

  @alertStore.Action
  private displayAlert!: (content: string) => void

  @alertStore.Action
  private hideAlert!: () => void

  private LOAD_LEVEL_NO_AUTH = 0;

  private LOAD_LEVEL_AUTHENTICATED = 1;

  public async loadElection(electionID: string, loadLevel: number) {
    if (this.loadComplete[loadLevel]) {
      return;
    }

    try {
      this.election = await electionService.getElection(electionID);
      this.loadElectionError = false;
    } catch (e) {
      this.loadElectionError = true;
      this.displayAlert(`Failed to load election: ${e}`);
    }

    try {
      this.currentHeight = await blockchain.get_tip_height();
    } catch (e) {
      this.displayAlert(`Unable to fetch current block height: ${e}`);
    }

    try {
      this.ballots = await electionService.getTally(electionID);
      const table: any = {};

      this.election.options.forEach((o: any) => {
        table[o] = 0;
      });
      if (this.election.contractType === 'twooptionvote') {
        table.Blank = 0;
      }
      this.ballots.forEach((b: any) => {
        table[b.vote_option] += 1;
      });

      this.tallyTable = [table];
      this.loadTallyError = false;
    } catch (e) {
      this.loadTallyError = true;
      this.displayAlert(`Unable to tally the results: ${e}`);
    }
    this.loadComplete[loadLevel] = true;
  }

  public async created() {
    const electionID = this.$route.params.id;

    this.authObserver = authService.observeAuth()
      .subscribe(async (currentUser: any) => {
        if (!currentUser || currentUser.isAnonymous) {
          await this.loadElection(electionID, this.LOAD_LEVEL_NO_AUTH);
          return;
        }

        // Hide errors that happened before we got authenticated.
        this.hideAlert();

        await this.loadElection(electionID, this.LOAD_LEVEL_AUTHENTICATED);
      },
      (error: any) => {
        console.warn(`subscribe error ${error}`);
      });
  }
}
</script>
