<template>
  <div class="group" style="max-width: 40em;">
    <h1>User groups</h1>

    <p>Create lists of voters for simplifying creating an election.</p>
    <p>Users will be able to see groups you add them to.</p>

    <h2 style="margin-bottom: 1em">Groups you've created</h2>
    <b-modal
      id="modal-new-group"
      title="Create a new group"
      @ok="onNewGroupOK">

      <form @submit.stop.prevent="onNewGroupPressEnter">
        <b-form-group
          label="Group name"
          label-for="group-name-input">

          <b-form-input
            id="group-name-input"
            v-model="newGroupName"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
      id="modal-add-participant"
      title="Add a voter to group"
      @ok="onNewParticipantOK">
      <form @submit.stop.prevent="onNewParticipantPressEnter">
        <b-form-group
          label="Participant address"
          label-for="participant-input">

          <b-form-input
            id="participant-input"
            v-model="newParticipantAddress"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-alert v-if="!ownedGroups.length" show variant="info">
        You have not created any groups.
    </b-alert>

    <div style="margin-bottom: 1em;"
        v-for="group in ownedGroups" :key="group.groupId">
        <h4>Group: {{ group.title }}</h4>

        <div style="margin-bottom: 1em;">

        <b-button
            size="sm"
            v-on:click="deleteGroup(group.groupId)">
          Delete group
        </b-button>
        <b-button
            variant="primary"
            size="sm"
            style="margin-left: 0.5em"
            v-on:click="setParticipantGroup(group.groupId)"
            v-b-modal.modal-add-participant>Add voter to group
        </b-button>
        <b-button
            v-if="displayQrScanner"
            style="margin-left: 0.5em;"
            size="sm"
            v-on:click="toggleScanner(group)"
        >
          Hide webcam QR-scanner
        </b-button>
        <b-button
            v-if="!displayQrScanner"
            style="margin-left: 0.5em;"
            size="sm"
            v-on:click="toggleScanner(group)"
        >
          Add with QR-address webcam scanner
        </b-button>
        <qrcode-stream v-if="displayQrScanner" @decode="addOneParticipant"></qrcode-stream>

        </div>

        <b-list-group v-for="p in group.participants" :key="p">
            <b-list-group-item>
              <span v-html="ppAddress(p)"></span>
              <b-button size="sm" variant="outline-danger"
                style="margin-left: 1em;"
                v-on:click="removeParticipant(group.groupId, p)">x</b-button>
            </b-list-group-item>
        </b-list-group>
        <p v-if="!group.participants">This group does not have any voters.</p>

    </div>

    <b-button v-b-modal.modal-new-group style="margin-bottom: 1em;">Create a new group</b-button>

    <h2 style="margin-bottom: 1em">Groups you've been added to</h2>

    <b-alert v-if="!participatingGroups.length" show variant="info">
        You have not been added to any groups.
    </b-alert>

    <div style="margin-bottom: 1em;"
        v-for="group in participatingGroups" :key="'B' + group.groupId">
        <h4>Group: {{ group.title }}</h4>
        <p style="font-size: 80%;">Group created by
            <span v-html="ppAddress(group.owner)"></span></p>
        <b-list-group v-for="p in group.participants" :key="p">
            <b-list-group-item v-html="ppAddress(p)"></b-list-group-item>
        </b-list-group>
    </div>

  </div>
</template>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator';

import { namespace } from 'vuex-class';
import { GroupDB, IGroup } from '../services/group';
import authService from '../services/auth';

const alertStore = namespace('Alert');

@Component
export default class Group extends Vue {
  public ownedGroups: Array<IGroup> = [];

  public participatingGroups: Array<IGroup> = [];

  public displayQrScanner = false;

  private authObserver: any = null;

  private groupDB: GroupDB = new GroupDB()

  private newGroupName: string = '';

  private newParticipantAddress: string = '';

  private newParticipantGroup: string = '';

  private async onUserLoaded(user: string) {
    console.log(`Loading group data for ${user}`);
    [this.ownedGroups, this.participatingGroups] = await Promise.all([
      this.groupDB.getOwnerOf(user),
      this.groupDB.getParticipantOf(user)]);
  }

  public async created() {
    this.authObserver = authService.observeAuth()
      .subscribe(async (currentUser: any) => {
        console.log('Group event: ', currentUser?.uid, currentUser?.isAnonymous);
        if (!currentUser) {
          return;
        }
        if (currentUser.isAnonymous) {
          return;
        }
        try {
          await this.onUserLoaded(currentUser.uid);
        } catch (e) {
          console.warn(e);
          this.displayAlert(`Failed to load groups: ${e}`);
        }
      },
      (error: any) => {
        console.warn(`subscribe error ${error}`);
      });
  }

  private async onNewGroupPressEnter() {
    // close modal
    this.$nextTick(() => {
      this.$bvModal.hide('modal-new-group');
    });
    return this.onNewGroupOK();
  }

  private async onNewGroupOK() {
    if (!this.newGroupName) {
      this.displayAlert('Invalid group name');
      return;
    }

    try {
      const owner = authService.getUserOrCrash().uid;
      const result = await this.groupDB.create(owner, this.newGroupName, []);
      console.log(`Created group ${result}`);

      // Reload group data
      await this.onUserLoaded(owner);

      this.newGroupName = '';
    } catch (e: any) {
      console.warn(e);
      this.displayAlert(e);
    }
  }

  private async onNewParticipantPressEnter() {
    // close modal
    this.$nextTick(() => {
      this.$bvModal.hide('modal-add-participant');
    });
    return this.onNewParticipantOK();
  }

  public addOneParticipant(participant: string) {
    this.newParticipantAddress = participant;
    this.onNewParticipantOK();
  }

  private async onNewParticipantOK() {
    if (!this.newParticipantAddress) {
      this.displayAlert('Invalid participant address');
      return;
    }

    if (!this.newParticipantGroup) {
      this.displayAlert('Invalid group ID');
      return;
    }

    try {
      await this.groupDB.addParticipant(
        this.newParticipantGroup,
        this.newParticipantAddress,
      );
      // Reload group data
      const owner = await authService.getUserOrCrash().uid;
      await this.onUserLoaded(owner);
      this.newParticipantAddress = '';
    } catch (e: any) {
      console.warn(e);
      this.displayAlert(e);
    }
  }

  private async removeParticipant(group: string, user: string) {
    try {
      await this.groupDB.removeParticipant(group, user);
      const owner = authService.getUserOrCrash().uid;
      await this.onUserLoaded(owner);
    } catch (e: any) {
      console.warn(e);
      this.displayAlert(e);
    }
  }

  private toggleScanner(group: IGroup) {
    this.displayQrScanner = !this.displayQrScanner;
    this.setParticipantGroup(group.groupId);
  }

  private async deleteGroup(group: string) {
    try {
      await this.groupDB.delete(group);
      const owner = await authService.getUserOrCrash().uid;
      await this.onUserLoaded(owner);
    } catch (e: any) {
      console.warn(e);
      this.displayAlert(e);
    }
  }

  private setParticipantGroup(group: string) {
    console.log(`Setting newParticipantGroup to ${group}`);
    this.newParticipantGroup = group;
  }

  @alertStore.Action
  public displayAlert!: (content: string) => void
}
</script>
